<div class="wrap">
  <% @evaluateds.each do |evaluated| %>
    <%= link_to evaluated_path(evaluated), class: "card-link" do %>
      <div class="card">
        <div class="top">
          <h1><%= evaluated.name %></h1>
        </div>
        <div class="bottom">
          <p><span>CPF:</span> <%= CPF::Formatter.format(evaluated.cpf) %></p>
          <p><span>E-mail:</span> <%= evaluated.email %></p>
          <p><span>Data de nascimento:</span> <%= evaluated.birth_date.strftime("%d/%m/%Y") %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
