<h1>Detalhes do Avaliado</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Detalhes do Paciente</h5>
          <p class="card-text">Nome: <%= @evaluated.name %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Card dos Question치rios -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question치rios</h5>
          <% @questionnaires_sent.each do |questionnaire_sent| %>
            <p><%= questionnaire_sent.questionnaire.title %> - <%= questionnaire_sent.status %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <!-- Formul치rio -->
      <%= form_with url: send_mail_evaluateds_path, method: :post, local: true do |form| %>
         <div class="mb-3">
          <label for="questionnaire" class="form-label">Selecione o Question치rio</label>
          <%= form.select :questionnaire_id, @questionnaires.collect { |q| [q.title, q.id] }, {}, { class: "form-select", id: "questionnaire" } %>
        </div>
        <%= form.hidden_field :evaluated_id, value: @evaluated.id %>  <!-- Campo oculto para o evaluated_id -->
        <%= form.submit "Enviar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
