<div class="navbar navbar-expand-sm navbar-light navbar">
  <div class="container-fluid">
    <%= link_to "/psychologists#index", class: "navbar-brand" do %>
      <%= image_tag "https://recursos.vetoreditora.com.br/i/logo-white.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="nav-item active">
            <%= link_to "Inicio", "/psychologists#index", class: "nav-link" %>
            <%= link_to "Cadastrar Avaliado", "/evaluateds/new", class: "nav-link" %>
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Inicio", "/psychologists#index", class: "dropdown-item" %>
          </div>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
